<head>
	<link rel="stylesheet" type="text/css" href="../../styles/addIdea.css" />
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

</head>
<body>

		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Add Idea</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">

					<form ng-submit="addidea(idea1)" class="form-horizontal">
						
						<div class="form-group">
							<label class="cols-sm-2 control-label">Title</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<textarea  type="text" class="form-control" ng-model="idea1.title" name="title" id="titleIdea" cols="50" rows="1" placeholder="Enter your idea title"></textarea>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Description</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<textarea type="text" class="form-control" ng-model="idea1.description" name="description" id="descriptionIdea" cols="50" rows="8" placeholder="Enter your idea description"></textarea>
								</div>
							</div>
						</div>

						<div class="form-group">
						<label class="cols-sm-2 control-label">Categories</label>
						<table>
						  <tr>
								<div class="row1">
									<td><input type="checkbox" ng-model="idea1.Health" name="Health" value="Health" ng-true-value="'1'" ng-false-value="'0'"/> Health
									</td>
									<td><input type="checkbox" ng-model="idea1.Social" name="Social" value="Social" ng-true-value="'1'" ng-false-value="'0'"/> Social
									</td>
									<td><input type="checkbox" ng-model="idea1.Economic" name="Economic"  ng-false-value="'0'" ng-true-value="'1'"/> Economic</td>
								</div>
							
						</tr>
							<tr>
								<div class="row2">
									<td><input type="checkbox" ng-model="idea1.Cientific" name="Cientific" value="Cientific" ng-true-value="'1'" ng-false-value="'0'"/> Scientific </td>
									<td><input type="checkbox" ng-model="idea1.Educational" name="Educational" value="Educational" ng-true-value="'1'" ng-false-value="'0'"/> Educational</td>
									<td><input type="checkbox" ng-model="idea1.Business" name="Business" value="Business" ng-true-value="'1'" ng-false-value="'0'"/> Business</td>
								</div>
							</tr>
							<tr>
								<div class="row3">
									<td><input type="checkbox" ng-model="idea1.Finance" name="Finance" value="Finance" ng-true-value="'1'" ng-false-value="'0'"/> Finance</td>
									<td><input type="checkbox" ng-model="idea1.Personal" name="Personal" value="Personal" ng-true-value="'1'" ng-false-value="'0'"/> Personal</td>
								</div>
							</tr>
							</table>
						</div>
							<br>
							<div class="form-group">
								<label class="cols-sm-2 control-label">Price</label>
								<div class="cols-sm-10">
									<div class="input-group">
									<input type="number" min="0" max="100000000" ng-model="idea1.price" placeholder="Price must be between 0 and 100 000 000" style="width: 275px;" />
									</div>
								</div>
							</div>

							
						<div class="form-group" style="margin-top:5px;">
							<button type="submit" ng-click='draft="0"' class="btn btn-primary btn-lg btn-block add-button">Add Idea</button>
							<button style="float:right;" ng-click='draft="1"' type="submit" class="btn btn-primary btn-lg btn-block add-button">Save Idea</button>
						</div>

					</form>
						<div class="row animation error-message text-center" ng-repeat="item in items">
					{{item}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
				</div>
				</div>
			</div>
		</div>
</body>
