<head>
	<link rel="stylesheet" type="text/css" href="../../styles/home.css" />
	<link rel="stylesheet" type="text/css" href="../../styles/addIdea.css" />
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<h1 class="title">Idea Managment</h1>

<div id="homeTitle" class="container">
	<h2>Idea Managment</h2>		
</div>

<div class="section">

			<div class="container">

				<div class="card card-container">
					<div ng-if="!hasSession.logged">
					<form ng-submit="login(user,remember)" class="form-signin">
						<input style="display:none" type="email" name="fakeusernameremembered"/>
						<input style="display:none" type="password" name="fakepasswordremembered"/>
						<input id="inputUsername" ng-model="user.email" type="email" class="form-control" name="fakeusernameremembered" placeholder="Email" required autofocus >
						<input id="inputPassword" ng-model="user.password" type="password"  class="form-control" name="fakepasswordremembered" placeholder="Password" required >
						<input type="checkbox" id="remember" ng-model="remember" value="false">
						<label for="remember">Remember me</label>
						<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>

						
	</form><!-- /form -->
	<button class="btn button btn-lg btn-primary btn-block btn-signin" data-toggle="modal" data-target="#myModal">Create Account</button>
				</div><!-- /card-container -->
		
					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog" >
					  <div class="modal-dialog" >

					    <!-- Modal content-->
					    <div class="modal-content" display:"inline">
					      <div class="modal-header" >
					        <h4 class="modal-title" ><strong>Register</strong></h4>
					      </div>
									<form ng-submit="register(user1)" class="form-signin">
					      <div class="control-group" style="margin-left: 10px; margin-top:5px;">
				              <label class="control-label" for="Email">Email:</label>
				              <div class="controls">
				                <input id="Email" name="Email" ng-model="user1.email" class="form-control" type="email" placeholder="agile@agile.com" class="input-large" required>
				              </div>
				            </div>

				            <!-- Text input-->
				            <div class="control-group" style="margin-left: 10px;">
				              <label class="control-label" for="userid">Name:</label>
				              <div class="controls">
				                <input id="userid" name="userid" ng-model="user1.name" class="form-control" type="text" placeholder="Agile2016" class="input-large" required>
				              </div>
				            </div>
				            
				            <!-- Password input-->
				            <div class="control-group" style="margin-left: 10px;">
				              <label class="control-label" for="password">Password:</label>
				              <div class="controls">
				                <input id="password" name="password" ng-model="user1.password"class="form-control" type="password" placeholder="********" class="input-large" required>
				              </div>
				            </div>

					      <div class="modal-footer">
					        <button type="submit" class="btn btn-default" style="float: lest;">Register</button>
						
					      	<button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;">&times;</button>
										<div class="row animation error-message text-center" ng-repeat="item in items1">
					{{item}}<a href="#" class="pull-right" ng-click="pop1()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
				</div>
					      </div>
									</form>
					    </div>

					  </div>
					</div>

				
				<div ng-if="hasSession.logged">
					Continue as
					<a ng-click="redirect()" class="forgot-password">
						{{hasSession.data.name}}
					</a><br>
					<a ng-click="logout()">Log out</a>
				</div>
				
				</div>
				<div class="row animation error-message text-center" ng-repeat="item in items">
					{{item}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
				</div>
			</div><!-- /container -->
		
</div>
</body>