<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyIdeas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../styles/addIdea.css" />
</head>
<body>
<h1 class="title">List My Ideas</h1>
<div class="container" style="margin-top: 30px;" ng-repeat="idea in ideas">
  
  <ul class="list-group" style="margin-top: 25px;">
    <li class="list-group-item">  <div ng-if="idea.draft=='1'" style="display:inline-block;"> [Draft] </div>
       <div ng-if="idea.draft=='0'" style="display:inline-block;"> [Submitted] </div>     <strong>{{idea.ideatitle}}</strong> 
       <button class="badge glyphicon glyphicon-chevron-down shownowcomments" tabindex="0"> 0 </button>
        <p class="alert" >{{idea.ideadescription}}</p>
  
  
   <p><strong>Categories: </strong> 
 
   <div ng-if="idea.health=='1'" style="display:inline-block;"> Health; </div>   
   <div ng-if="idea.social=='1'" style="display:inline-block;"> Social; </div>
   <div ng-if="idea.economic=='1'" style="display:inline-block;"> Economic; </div>
   <div ng-if="idea.finance=='1'" style="display:inline-block;"> Finance; </div>
   <div ng-if="idea.personal=='1'" style="display:inline-block;"> Personal; </div>  
   <div ng-if="idea.business=='1'" style="display:inline-block;"> Business; </div>
   <div ng-if="idea.cientific=='1'" style="display:inline-block;"> Cientific; </div>
   <div ng-if="idea.educational=='1'" style="display:inline-block;"> Educational; </div>
   
   </p>
   <p><strong>Price: </strong> {{idea.price}}€</p>
    
   <div ng-if="idea.draft=='1'">
   
    <button class="list-group-item glyphicon glyphicon-edit" ng-click="ideatoupdatef(idea)" data-toggle="modal" data-target="#myModal" style="width: 100px;"> Edit </button>
   </div>  

    <button class="list-group-item glyphicon glyphicon-remove" ng-click="deleteidea(idea)" data-toggle="modal" data-target="#myModal" style="width: 100px;"> Delete </button>
    

    <div style="display:none;" class="container showcomments">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                  </div> 

                  <textarea class="form-control" name="addComment" id="addComment" rows="5" maxlength="250"></textarea>
                  <button type="submit" ng-click='' class="btn btn-primary btn-lg btn-block add-button">Add Comment</button>

                  <br> <br>
                   <div class="comments-list">
                       <div class="media">
                            <a class="media-left" href="#">
                              <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">Baltej Singh</h4>
                              Wow! this is really great.
                              
                            </div>
                          </div>
                   </div>        
                </div>
            </div>
     </div>
    
  </li>
  </ul>
</div>
  
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Draft Idea</h4>
          </div>
          <form ng-submit="updateidea()" class="form-horizontal">
            
                    <div class="control-group" style="margin-left: 10px;">
              <label class="cols-sm-2 control-label">Title</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <textarea  type="text" class="form-control" ng-model="idea1.ideatitle" name="title" id="titleIdea" cols="50" rows="1"required></textarea>
                </div>
              </div>
            </div>

                    <div class="control-group" style="margin-left: 10px;">
              <label class="cols-sm-2 control-label">Description</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <textarea type="text" class="form-control" ng-model="idea1.ideadescription" name="description" id="descriptionIdea" cols="50" rows="8" required></textarea>
                </div>
              </div>
            </div>


                    <div class="control-group" style="margin-left: 10px;">
            <label class="cols-sm-2 control-label">Categories</label>
           <table>
						  <tr>
								<div class="row1">
									<td><input type="checkbox" ng-model="idea1.health" name="Health" ng-true-value="'1'" ng-false-value="'0'"/> Health
									</td>
									<td><input type="checkbox" ng-model="idea1.social" name="Social" ng-true-value="'1'" ng-false-value="'0'"/> Social
									</td>
									<td><input type="checkbox" ng-model="idea1.economic" name="Economic"  ng-false-value="'0'" ng-true-value="'1'"/> Economic</td>
								</div>
							
						</tr>
							<tr>
								<div class="row2">
									<td><input type="checkbox" ng-model="idea1.cientific" name="Cientific" ng-true-value="'1'" ng-false-value="'0'"/> Cientific </td>
									<td><input type="checkbox" ng-model="idea1.educational" name="Educational" ng-true-value="'1'" ng-false-value="'0'"/> Educational</td>
									<td><input type="checkbox" ng-model="idea1.business" name="Business" ng-true-value="'1'" ng-false-value="'0'"/> Business</td>
								</div>
							</tr>
							<tr>
								<div class="row3">
									<td><input type="checkbox" ng-model="idea1.finance" name="Finance" ng-true-value="'1'" ng-false-value="'0'"/> Finance</td>
									<td><input type="checkbox" ng-model="idea1.personal" name="Personal" ng-true-value="'1'" ng-false-value="'0'"/> Personal</td>
								</div>
							</tr>
							</table>
              </div>
              <br>
                    <div class="control-group" style="margin-left: 10px;">
                <label class="cols-sm-2 control-label">Price</label>s
                <div class="cols-sm-10">
                  <div class="input-group">
                  <input id="price" name="price" ng-model="idea1.price"class="form-control" type="number" min="0" max="100000000"  class="input-large" required>
                  <p>Price must be between 0 and 100 000 000</p>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
            <button type="submit" ng-click='draft="0"' style="float:left;" class="btn btn-default">Post Idea</button>
             <button type="submit" ng-click='draft="1"' style="float:left;" class="btn btn-default">Save Idea</button>

            <div class="row animation error-message text-center" ng-repeat="item in items1">
            {{item}}<a href="#" class="pull-right" ng-click="pop1()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
          </div>

          </div>
          </form>
        </div>
        
      </div>
    </div>
    

	<div class="row animation error-message text-center" ng-repeat="item in items">
					{{item}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
				</div>

        <script type="text/javascript">
          $('.shownowcomments').click(function() {
             $('.showcomments').toggle(); 
         });
        </script>
</body>
</html>


