<!DOCTYPE html>
<html lang="en">
<head>
  <title>AllIdeas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../styles/addIdea.css" />
</head>
<body>
  <br>
	<a href="#"  style="margin-left:25px;"ng-click="returntomenu()"><span class="glyphicon glyphicon-chevron-left glyphicon-white">Back</span></a>
<h1 class="title">List All Ideas</h1>
<div class="container" style="margin-top: 30px;" ng-repeat="idea in ideas">
  
  <ul class="list-group" style="margin-top: 25px;">
    <li class="list-group-item"> <strong>{{idea.ideatitle}}  Author:{{user.name}}</strong> 
       <button class="badge glyphicon glyphicon-chevron-down shownowcomments" ng-click="toggle(idea.idideas);getcomments(idea.idideas)" tabindex="0"> Show Comments </button>
        <p class="alert" >{{idea.ideadescription}}</p>   

   <p><strong>Categories: </strong> 
 
   <div ng-if="idea.health=='1'" style="display:inline-block;"> Health; </div>   
   <div ng-if="idea.social=='1'" style="display:inline-block;"> Social; </div>
   <div ng-if="idea.economic=='1'" style="display:inline-block;"> Economic; </div>
   <div ng-if="idea.finance=='1'" style="display:inline-block;"> Finance; </div>
   <div ng-if="idea.personal=='1'" style="display:inline-block;"> Personal; </div>  
   <div ng-if="idea.business=='1'" style="display:inline-block;"> Business; </div>
   <div ng-if="idea.cientific=='1'" style="display:inline-block;"> Scientific; </div>
   <div ng-if="idea.educational=='1'" style="display:inline-block;"> Educational; </div>
   
   </p>
   <p><strong>Price: </strong> {{idea.price}}€</p>    

      <div class="container showcomments" ng-if="showDiv==idea.idideas">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right"></small> Comments </h1>
                  </div> 

                  <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                  <button type="submit" ng-click='' class="btn btn-primary btn-lg btn-block add-button">Add Comment</button>

                  <br> <br>
                   <div class="comments-list" ng-repeat="comment in comments">
                       <div class="media">
                            <a class="media-left" href="#">
                              <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">{{comment.name}}</h4>
                              {{comment.text}}                             
                            </div>
                          </div>
                   </div>        
                </div>
            </div>
     </div>

    </li>
  </ul>
</div>

	<div class="row animation error-message text-center" ng-repeat="item in items">
					{{item}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
				</div>
</body>
</html>


