
<div id="homeTitle" class="container">
	<h2>Idea Management</h2>		
</div>

<div id="toolbox" class="container">
	<div class="row text-center">
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="/addidea"><i class="fa fa-plus" /><br>Add Idea</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="/listmyideas"><i class="fa fa-folder-open" /><br>My ideas</a>
		</div>

		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="/list_all_ideas"><i class="fa fa-list" /><br>All ideas</a>
		</div>
	</div>
</div>
